---
// Import the `<StarlightPage>` component first to set up cascade layers.
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';

// Import the courses data
import { getAugmentedCoursesData } from '../utils/courses.ts';

const coursesData = getAugmentedCoursesData();

// Statically import all course files
const courseFiles = import.meta.glob('../content/docs/Courses/*.{md,mdx}', { eager: true });
const existingCourseFiles = Object.keys(courseFiles).map(path => 
  path.split('/').pop()?.replace(/\.(md|mdx)$/, '')
);

interface Course {
  name: string;
  link: string;
}

interface CourseCategory {
  [category: string]: Course[];
}

function doesCourseHaveFile(course: Course): boolean {
  const courseFileName = course.link.split('/').pop();
  return existingCourseFiles.includes(courseFileName);
}
---

  {Object.entries(coursesData.catalog).map(([category, courses]) => (
      <div>
        <AnchorHeading level="2" id={category.toLowerCase()}>{category}</AnchorHeading>
        <div class="course-buttons">
          {courses.map((course) => (
            <a 
              href={doesCourseHaveFile(course) ? course.link : ''} 
              class={`course-button ${doesCourseHaveFile(course) ? 'has-file' : 'file-not-found'}`}
            >
              {course.name}
            </a>
          ))}
        </div>
      </div>
    ))}

  <style>
    .course-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
    }

    .course-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #222;
      border: 1px solid #333;
      border-radius: 50px;
      text-decoration: none;
      color: white;
      font-weight: normal;
      text-align: center;
      min-width: 100px;
      transition: background-color 0.1s ease-in-out;
    }

    .course-button.has-file:hover {
      background-color: #444;
      transition: background-color 0.1s ease-in-out;
    }

    .file-not-found {
      background-color: #333;
      opacity: 0.8;
      cursor: not-allowed;
    }

    .capstone-link {
      color: #9E9EFF;
      text-decoration: none;
    }
  </style>
